@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  background-color: #afd3d3;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: auto;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 15px;
}

img {
  border-radius: 50%;
  margin: 30px;
  width: 30%;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

.container {
  margin: 40px auto;
  width: 600px;
}

/* Cards */

.card-dark-grey {
  background: #f5f0e1;
  border: 2px solid darkgrey;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 40px;
  text-align: center;
}

/* Button */

.myButton {
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border: 2px solid darkgrey;
  border-radius: 20px;
  box-shadow: 3px 2px 6px -12px darkgrey;
  color: #312f2e;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 20px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.myButton:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/* Footer */

#footer {
  text-align: center;
}

i {
  color: #312f2e;
  cursor: pointer;
  font-size: 30px;
  padding: 15px;
}

/* Media */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
